img[class="img-responsive"]{
  opacity: .8;
}
.container .row{
  padding-bottom: 20px;
}
.carousel-caption {
  left: 4%;
  text-align: left;
}
.carousel-control.left{
  color: #eee;
  height: 50px;
  width: 25px;
  line-height: 50px;
  top:48%;
  background-color: #eee;
  background-image: linear-gradient(to right,rgba(0,0,0,.001)0%,rgba(0,0,0,0)100%);
}
.carousel-control.right{
  color: #eee;
  height: 50px;
  width: 25px;
  line-height: 50px;
  top:48%;
  background-color: #eee;
  background-image: linear-gradient(to left,rgba(0,0,0,.001)0%,rgba(0,0,0,0)100%);
}
.thumbnail{
  border: 0;
  background-color: #fefefe;
}
.caption h3,.caption p{
  color: #000;
}
.caption a:first-child{
  text-decoration: none;
}
.masked{
  position: relative;
}
.mask-text{
  color: #000;
}
.masked .mask-text button{
  background-color: #000;
  color: #ffff;
}
.col-xs-12>h3{
  color: #000;
  font-weight: bold;
}
.follow-us{
  float: left;
}
.follow-us li{
  width: 40px;
  height: 40px;
}
.follow-us li:first-child{
  width: auto;
}
.footer{
  background-color: #f2f2f2;
}
.footer .container .row .list-unstyled li{
  padding-bottom: 10px;
}
.footer .container .row .list-unstyled li a{
  color: #616161;
}
.foot-footer a:first-child{
  margin-top: 10px;
  position: relative;
}
.foot-footer>.list-inline{
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
}
.foot-footer a{
  color: #555;
}
@media screen and (min-width: 1200px){
  .carousel-caption{
    padding-bottom: 15%;
  }
  .carousel-caption h1{
    font-size: 40px;
  }
  .mask-text h1{
    font-size: 50px;
  }
  .foot-footer>.list-inline{
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
  .carousel-caption{
    padding-bottom: 10%;
  }
  .mask-text h1{
    font-size: 40px;
  }
}
@media screen and (max-width: 1199px){
  .foot-footer>.list-inline{
    position: relative;
    text-align: left;
  }
}
@media screen and (min-width: 768px){
  .masked .mask-text{
    position: absolute;
    top: 30%;
    left: 5%;
  }
}
@media screen and (max-width: 767px){
  .masked{
    background-color: #E6E6E6;
  }
  .mask-text{
    text-align: center;
    position: relative;
    top: 100%;
    padding-bottom: 50px;
  }
  .item .carousel-caption{
    position: relative;
    text-align: center;
    top: 100% !important;
    color: #000;
    text-shadow: 0px 0px;
    left: 0 !important;
    background-color: #e6e6e6;
    padding-bottom: 50px;
  }
}